<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <h1>Veio da API</h1>
    <p>Não perca mais tempo cadastre em nossso sistema e receba as novidade da área de tecnologia.</p>

    <h3></h3>

        <form action="/cadastro" method="post">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
            <input type="submit" value="send">
        </form>
</body>

</html>